<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ pageTitle }} </ion-title>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons *ngIf="isNotHome" slot="start">
      <ion-back-button color="blue" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-thumbnail slot="end">
      <img src="../../../assets/img/RegistrApplogo.png" />
    </ion-thumbnail> 
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card *ngIf="info">

    <ion-card-header>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        {{info.image}}
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>
        {{info.name}} {{info.lastname}}
      </ion-card-title>
      <ion-item>
        <ion-label>
          <ion-icon name="card-outline"></ion-icon> {{info.rut}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="calendar-clear-outline"></ion-icon> {{info.age}} Año(s)
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="map-outline"></ion-icon> {{info.direction}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="call-outline"></ion-icon> {{info.phone}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="male-female-outline"></ion-icon> {{info.gender}} 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="mail-outline"></ion-icon> {{info.email}} 
        </ion-label>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="openDetailUsuario(info)">
        <ion-icon name="create-outline"></ion-icon>Editar Perfil
      </ion-button>
      <ion-button fill="outline" expand="block" (click)="btnInfo()">
        <ion-icon name="alert-circle-outline"></ion-icon>Info
      </ion-button>
      
   </ion-card-content>


   


    
  </ion-card>
</ion-content>
<app-fab-button></app-fab-button>
