<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title color="dark">Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">
        <strong>Página No encontrada!!</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Al parecer el contenido que buscas no existe...
    </ion-card-content>
  </ion-card>

  <ion-img src="../../../assets/icon/undraw_not_found_re_44w9.svg"></ion-img>

  <ion-button [routerLink]="['/home']" expand="block" class="ion-margin-top"> 
    Volver al Menú Principal
  </ion-button>
</ion-content>