.cardStyle{
    border-radius: 20px;
    --ion-background-color: #3b7e88;

    span{
        color: white;
        font-weight: 300;
    }

    #temp{
        font-weight: 300;
        font-size: 4em;
        margin: 5px;
    }

    #locationIcon{
        color: #f6b844;
    }

    date{
        color: #f6b844;
    }
}