<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let usuario of listadoPersona" (click)="openDetailUsuario(usuario)">
      <ion-avatar slot="start">
        <img [src]="usuario.image" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{usuario.name}} {{usuario.lastname}}</h3>
        <h5>{{usuario.email}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUsuario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
