<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>
<ion-content [fullscreen] = "true">
    
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/crist.jfif"></ion-img>
            <ion-card-content>
                <p>Cristobal Muñoz</p>
                <p>Analista Programador Computacional</p>
            </ion-card-content>
        </ion-card>
    </div>
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/benj.jfif"></ion-img>
            <ion-card-content>
                <p>Benjamín Baeza</p>
                <p>Analista Programador Computacional</p>
            </ion-card-content>
        </ion-card>
    </div>
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/marc.jfif"></ion-img>
            <ion-card-content>
                <p>Marcelo Vilches</p>
                <p>Ingeniería en Informática</p>
            </ion-card-content>
        </ion-card>
    </div>
    
    
    
</ion-content>
<app-fab-button></app-fab-button>
