<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>
<ion-content [fullscreen] = "true"> 
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/GosuDelFrunaChikito.jpeg"></ion-img>
            <ion-card-content>
                <p>Benjamin Guzman</p>
                <p>Proximo Ingeniero informatico</p>
                <p>Quiero ser el mejor programador de latinoamerica</p>
            </ion-card-content>
        </ion-card>
    </div>
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/MatiasAllendes.jpg"></ion-img>
            <ion-card-content>
                <p>Mastias Allendes</p>
                <p>Proximo ingeniero informatico</p>
                <p>Quiero ser el mejor diseñador UX de chile</p>
            </ion-card-content>
        </ion-card>
    </div>
    <div id="container">
        <ion-card>
            <ion-img src="../../../assets/imgabout/SebastianSolar.jpeg"></ion-img>
            <ion-card-content>
                <p>Sebastian Solar</p>
                <p>Proximo ingeniero informatico</p>
                <p>Solo quiero aprobar profesor</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<app-fab-button></app-fab-button>
