<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


<ion-content class="containerqr">


  <ion-list>
    <ion-item>
      <ion-label class="caja" >
        <p>UF</p>
        <ion-label id="UF"></ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="caja" >
        <p>utm</p>
        <ion-label id="UTM"></ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="caja" >
        <p>Dolar</p>
        <ion-label id="Dolar"></ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="caja" >
        <p>Euro</p>
        <ion-label id="Euro"></ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="caja" >
        <p>Bitcoin</p>
        <ion-label id="bt"></ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button  (click)="consultarApi()">Consultar</ion-button>
</ion-content>
<app-fab-button></app-fab-button>

